.allProducts-container {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    gap: 2rem;
    padding: 2rem;
}

.clearBtn {
    background-color: #ff0000;
    color: #fff;
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3px;
    outline: none;
}

.clearBtn:hover {
    box-shadow: 0 0 1rem #ff0000;
}

.filters-tab {
    height: 80vh;
    overflow-y: scroll;
}

.filters-tab-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sort {
    padding: 1rem;
}

.sort-item {
    list-style: none;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}

.sort-item:hover {
    cursor: pointer;
}

.filter {
    padding: 1rem;
}

.brand-heading {
    font-size: 1.8rem;
}

.brand-label {
    font-size: 1.6rem;
    margin-left: 1rem;
    color: #fff;
}

.category-heading {
    font-size: 1.8rem;
}

.category-label {
    font-size: 1.6rem;
    margin-left: 1rem;
    color: #fff;
}

.price-heading {
    font-size: 1.8rem;
}

.price-text {
    font-size: 1.5rem;
    font-weight: 500;
}

.price-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0000;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-top: -0.5rem;
}

.price-range::-webkit-slider-runnable-track {
    background-color: #fff;
    height: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

input[type='checkbox']:hover {
    cursor: pointer;
}

.filter-toggle-btn {
    display: none;
}

@media only screen and (max-width:52.5em) {
    .allProducts-container {
        grid-template-columns: 1fr;
    }

    .filters-tab {
        position: fixed;
        top: 6%;
        left: -100%;
        width: 30rem;
        height: 100%;
        background-color: #141414;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .filters-tab.show {
        left: 0;
    }

    .filter-toggle-btn {
        font-size: 3rem;
        display: block;
        position: fixed;
        top: 8rem;
        left: -1rem;
        background-color: #ff0000;
        color: #fff;
        border: none;
        padding: 1rem 1rem 0 1.5rem;
        cursor: pointer;
        z-index: 999;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .products-listing {
        margin-top: 10rem;
    }

    .btn-move {
        left: 29rem;
        transition: all 0.35s ease;
    }
}