.signup-container {
    width: 40%;
    margin: 4rem auto;
}

.signup-menu {
    background-color: #161819;
    width: 100%;
    border: 1px solid #3a3d40;
    padding: 2rem;
    border-radius: 3px;
}

.signup-heading {
    font-size: 3.5rem;
    font-weight: 600;
}

.signup-text {
    font-size: 2rem;
}

.signup-text>span {
    margin-left: 0.5rem;
}

.signup-text>span:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 1px #fff;
    text-decoration: underline;
}

.form-input>input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.4rem 2rem;
    background-color: transparent;
    border: 2px solid #4d4d4d;
    border-radius: 4px;
    font-size: 1.5rem;
}

.submitBtn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    width: 100%;
}

.submitBtn:hover {
    cursor: pointer;
}

.or-div {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.or-div-text {
    font-size: 1.4rem;
}

.btns-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.googleBtn,
.facebookBtn,
.twitterBtn {
    border: none;
    border-radius: 1px;
    outline: none;
    padding: 1rem 2rem;
}

.googleBtn {
    background-color: #a61c00;
}

.facebookBtn {
    background-color: #3b5998;
}

.twitterBtn {
    background-color: #1da1f2;
}

@media only screen and (max-width:56.25em) {
    .signup-container {
        width: 60%;
    }
}

@media only screen and (max-width:31.25em) {
    .signup-container {
        width: 80%;
    }

    .btns-option {
        flex-direction: column;
        align-items: stretch;
    }
}