.footer {
    display: flex;
    padding: 2rem 1rem;
    background-color: #000;
    color: #989eb0;
    gap: 5rem;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-about {
    flex: 27%;
}

.footer-menu {
    flex: 20%;
}


.footer-heading-2 {
    font-size: 3rem;
}

.footer-text {
    font-size: 1.6rem;
    margin: 1rem 4rem;
    margin-left: 0;
}

.footer-input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    border: 2px solid #4d4d4d;
    border-radius: 5px;
    margin-bottom: 1.3rem;
}

.subscribeBtn {
    all: unset;
    background-color: #FF0000;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    font-size: 1.8rem;
    color: #fff;
}

.subscribeBtn:hover {
    cursor: pointer;
}

.footer-heading-3 {
    font-size: 2.4rem;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
}

.footer-tab {
    font-size: 1.6rem;
}

.footer-item {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-link {
    text-decoration: none;
    color: #ccc;
}


@media only screen and (max-width:53.75em) {

    .footer-about,
    .footer-menu {
        flex: 44%;
    }
}

@media only screen and (max-width:27.5em) {

    .footer-about,
    .footer-menu {
        flex: 100%;
    }
}